/* CSS Document */
h1{ color: red;}
body{
	background-color: #4C4C4C;
	color: #555555
}
h2{ color: purple;}
body{
	background-color: #4C4C4C;
	color: #555555
}
h3{ color:black;}
body{
	background-color: #4C4C4C;
	color: #555555
}
h4{ color: darkblue;}
body{
	background-color: #4C4C4C;
	color: #555555
}
h5{ color: darkgreen;}
body{
	background-color: #4C4C4C;
	color: #555555
}
h6{ color: deeppink;}
body{
	background-color: #4C4C4C;
	color: #555555
}
p{color: #00EEFF}


